#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

coverage
.DS_Store
terraform.tfstate.backup
terraform.tfstate
.idea
*.secret
secrets.inc
helloworld.zip
bashutils.inc