#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

coverage
.DS_Store
terraform.tfstate.backup
terraform.tfstate
.idea
*.secret
*.secrets
secrets.inc
helloworld.zip
bashutils.inc
.terraform.lock*
